$primary: #2A52BE;
$secondary: lightgrey;

$info: #0d6efd;
$success: #198754;
$danger: #dc3545;

$hover-gradient : 10;

@mixin white-bloc {
  border: 1px solid $primary;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}